@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src: local('Pretendard Black'), url('../fonts/Pretendard-Black.woff2') format('woff2'), url('./woff/Pretendard-Black.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src: local('Pretendard ExtraBold'), url('../fonts/Pretendard-ExtraBold.woff2') format('woff2'), url('./woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'), url('../fonts/Pretendard-Bold.woff2') format('woff2'), url('./woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'), url('../fonts/Pretendard-SemiBold.woff2') format('woff2'), url('./woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'), url('../fonts/Pretendard-Medium.woff2') format('woff2'), url('./woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'), url('../fonts/Pretendard-Regular.woff2') format('woff2'), url('./woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: local('Pretendard Light'), url('../fonts/Pretendard-Light.woff2') format('woff2'), url('./woff/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: local('Pretendard ExtraLight'), url('../fonts/Pretendard-ExtraLight.woff2') format('woff2'), url('./woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: local('Pretendard Thin'), url('../fonts/Pretendard-Thin.woff2') format('woff2'), url('./woff/Pretendard-Thin.woff') format('woff');
}

@font-face {
  font-family: 'miiler';
  font-weight: 900;
  font-display: swap;
  src: local('Pretendard Black'), url('../fonts//Miller\ Display\ Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans Korean Thin'), local('Noto Sans Korean Thin'), local('Noto Sans Korean Thin');
  src: url(../fonts/NotoSansKR-Light.otf);
  src: url(../fonts/NotoSansKR-Thin.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR-Thin.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Thin.woff) format('woff'),
    url(../fonts/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Korean Light'), local('Noto Sans Korean Light'), local('Noto Sans Korean Light');
  src: url(../fonts/NotoSansKR-Light.eot);
  src: url(../fonts/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR-Light.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Light.woff) format('woff'),
    url(../fonts/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans Korean Regular'), local('Noto Sans Korean Regular'), local('Noto Sans Korean Regular');
  src: url(../fonts/NotoSansKR-Regular.eot);
  src: url(../fonts/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR-Regular.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Regular.woff) format('woff'),
    url(../fonts/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Korean Medium'), local('Noto Sans Korean Medium'), local('Noto Sans Korean Medium');
  src: url(../fonts/NotoSansKR-Medium.eot);
  src: url(../fonts/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR-Medium.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Medium.woff) format('woff'),
    url(../fonts/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Korean';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Korean bold'), local('Noto Sans Korean bold'), local('Noto Sans Korean bold');
  src: url(../fonts/NotoSansKR-Bold.eot);
  src: url(../fonts/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR-Bold.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Bold.woff) format('woff'),
    url(../fonts/NotoSansKR-Bold.otf) format('opentype');
}


@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: local('Noto Sans KR black'), local('Noto Sans KR black'), local('Noto Sans KR black');
  src: url(../fonts/NotoSansKR-Black.eot);
  src: url(../fonts/NotoSansKR-Black.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NotoSansKR-Black.woff2) format('woff2'),
    url(../fonts/NotoSansKR-Black.woff) format('woff'),
    url(../fonts/NotoSansKR-Black.otf) format('opentype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Montserrat-SemiBold.eot);
  src: url(../fonts/Montserrat-SemiBold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-SemiBold.woff2) format('woff2'),
    url(../fonts/Montserrat-SemiBold.woff) format('woff'),
    url(../fonts/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Montserrat-Regular.eot);
  src: url(../fonts/Montserrat-Regular.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-Regular.woff2) format('woff2'),
    url(../fonts/Montserrat-Regular.woff) format('woff'),
    url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Montserrat-Light.eot);
  src: url(../fonts/Montserrat-Light.eot?#iefix) format('embedded-opentype'),
    url(../fonts/Montserrat-Light.woff2) format('woff2'),
    url(../fonts/Montserrat-Light.woff) format('woff'),
    url(../fonts/Montserrat-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/SCDream5.eot);
  src: url(../fonts/SCDream5.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SCDream5.woff) format('woff'),
    url(../fonts/SCDream5.otf) format('opentype');
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/SCDream4.eot);
  src: url(../fonts/SCDream4.eot?#iefix) format('embedded-opentype'),
    url(../fonts/SCDream4.woff) format('woff'),
    url(../fonts/SCDream4.otf) format('opentype');
}

@font-face {
  font-family: 'Gmarket';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/GMARKETSANSBOLD.eot);
  src: url(../fonts/GmarketSansBold.woff) format('woff'),
    url(../fonts/GmarketSansBold.otf) format('opentype');
}

@font-face {
  font-family: 'Gmarket';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/GMARKETSANSMEDIUM.eot);
  src: url(../fonts/GmarketSansMedium.woff) format('woff'),
    url(../fonts/GmarketSansMedium.otf) format('opentype');
}

@font-face {
  font-family: 'Gmarket';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/GMARKETSANSLIGHT.eot);
  src: url(../fonts/GmarketSansLight.woff) format('woff'),
    url(../fonts/GmarketSansLight.otf) format('opentype');
}


@font-face {
  font-family: 'nanum';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NanumSquareL.otf);
}

@font-face {
  font-family: 'nanum';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NanumSquareR.otf);
}

@font-face {
  font-family: 'nanum';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NanumSquareB.otf);
}

@font-face {
  font-family: 'nanum';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/NanumSquareEB.otf);
}

@font-face {
  font-family: 'nanumMy';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NanumMyeongjo.ttf);
}

@font-face {
  font-family: 'nanumMy';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NanumMyeongjo.ttf);
}

@font-face {
  font-family: 'nanumMy';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NanumMyeongjoBold.ttf);
}

@font-face {
  font-family: 'nanumMy';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/NanumMyeongjoExtraBold.ttf);
}