@charset "utf-8";

/* 새글 스킨 (latest) */
.pic_lt {position:relative;/* margin-bottom:20px; */background:#fafafa}
.pic_lt .lat_title {display:block;line-height: 1.5;font-size: 2rem;color:#253dbe;font-weight: 700;}
.pic_lt .lat_title a {color:#000;display:inline-block;position:relative}
.pic_lt .lat_title p{font-size: 1.25rem;color: #4f4f4f;font-weight: 400;}

.pic_lt .lt_more {position:absolute;top:11px;right:10px;display:block;width:25px;line-height:25px;color:#aaa;border-radius:3px;text-align:center;}
.pic_lt .lt_more:hover {color:#fafafa}
.pic_lt ul:after {display:block;visibility:hidden;clear:both;content:"";display: none;}
.pic_lt ul {margin-top: 2rem;gap: 2rem;display: flex;width: 100%;overflow-x: auto;}
.pic_lt li {width: calc(25% - 1.5rem);padding: 0 0rem;/* max-width: 14rem; */}
.pic_lt li.gallery_li:nth-child(4n+1) {clear: both!important;}
.pic_lt li .lt_img {margin: 0;display:block}
.pic_lt li .lt_img img, .pic_lt li .lt_img video {width:100%;height: 100%;max-height: 240px;border-radius: 1.5rem 1.5rem 0 0;object-fit: cover;}
.pic_lt li a:hover {}
.pic_lt li .fa-heart {color:#ff0000}
.pic_lt li .fa-lock {display:inline-block;line-height:14px;width:16px;color:#4f818c;background:#cbe3e8;text-align:center;border-radius:2px;font-size:12px;border:1px solid #cbe3e8;vertical-align:middle}
.pic_lt li .new_icon {display:inline-block;width:16px;line-height:16px;font-size:0.833em;color:#23db79;background:#b9ffda;text-align:center;border-radius:2px;margin-left:2px;font-weight:bold;vertical-align:middle}
.pic_lt li .hot_icon {display:inline-block;width:16px;line-height:16px;font-size:0.833em;color:#ff0000;background:#ffb9b9;text-align:center;border-radius:2px;vertical-align:middle}
.pic_lt li .fa-caret-right {color:#bbb}
.pic_lt li .fa-download {display:inline-block;width:16px;line-height:16px;font-size:0.833em;color:#daae37;background:#ffefb9;text-align:center;border-radius:2px;vertical-align:middle}
.pic_lt li .fa-link {display:inline-block;width:16px;line-height:16px;font-size:0.833em;color:#b451fd;background:#edd3fd;text-align:center;border-radius:2px;vertical-align:middle}

.pic_lt .profile_img img{border-radius:50%}

.lt_info {padding: 0.75rem 1rem;border: 1px solid #e1e1e1;border-radius: 0 0 1.2rem 1.2rem;}
.lt_info a{
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    height: 3.75rem;
    font-size: 1.5rem;
    color: var(--Foundation-Grey-grey-900, #111);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* 이 부분을 nowrap에서 normal로 변경 */
    word-break: break-word;
    }
.lt_info .lt_nick {}
.lt_info .lt_date {color:#888;display: block;margin-top: 1.25rem;font-size: 1.125rem;}

.pic_lt .empty_li {line-height:145px ;color:#666;text-align:center;padding:0}
.pic_lt .empty_li:before {background:none;padding:0}

.pic_lt .lt_cmt {background:#e9eff5;color:#3a8afd;font-size:11px;height:16px;line-height:16px;padding:0 5px;border-radius:3px;vertical-align:middle}
.pic_lt .lt_more {position:absolute;top:11px;right:0;display:block;width: 10rem;line-height:25px;color:#fafafa;border-radius:3px;text-align:center;background: linear-gradient(270deg, rgba(13,152,226,1) 0%, rgba(31,219,219,1) 100%);border-radius: 1.75rem;cursor: pointer;display: flex;justify-content: space-between;font-weight: 600;align-items: center;padding: 1rem 1.5rem;}
.pic_lt .lt_more:hover {color:#fafafa}

@media (max-width: 768px) {
    .pic_lt li {
        width: 40%;
        padding: 0 0rem;
        max-width: 17rem;
    }
}